.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;;
}

p {
    color: white;
    font-size: 24px;
    font-style: italic;
}